.stars svg {
    font-size: 20px;
}
.movies-recommended .img
{
    height: 250px;    
}

.movie-img .img {
    height: 400px;
}


.movie-img {
    min-width: 200px;
    max-width: 350px;
}

.movie-img .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.8);
    opacity: 0;
    transition: opacity 0.5s;
}

.movie-img img:hover + .play,
.play:hover {
    opacity: 1;
}

.actor-img {
    height: 120px;
    /* border-radius: 10px; */
}

.movies-recommended .img img,
.movie-img .img img,
.actor-img img {
    height: 100%;
    width: 100%;
}

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-transform: capitalize;
}
.not-found h1 {
    background-color: #eee;
    color: #333;
    padding: 40px;
}

@media (max-width: 300px) {
    /* .movies-recommended > * {
        width: 100% !important;
    } */
    .actor-container {
        width: 48.5%;
    }
    .movie-details-container .actions {
        display: block !important;
        text-align: center;
    }
    .movie-details-container .actions .button {
        margin-bottom: 15px;
    }
}


