

.sidebar {
    width: 250px;
    /* background-color: green; */
    height: 100vh;
    overflow: auto;
    border-right: 1px solid #333;
    /* position: sticky; */
}

@media(max-width: 767.98px) {
    .sidebar {
      position: fixed;
      top: 70px;
      transform: translateX(-300px);
      border: none;
      border-left: 1px solid #333;
      width: 300px;
      z-index: 5;
      transition: transform 1s ease-in-out !important;
    }

    .sidebar.show-side-bar {
      transform: translateX(0);
      background-color: #000;
    }
}
  


.sidebar .logo {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #a0f;
    color: #1C8ADB;
    padding: 20px;
    border-bottom: 1px solid #333;
}

/* Set the width of the scrollbar */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Set the color of the scrollbar track */
  ::-webkit-scrollbar-track {
    background: #444;
  }
  
  /* Set the color and style of the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: #666;
    /* border-radius: 4px; */
  }
  
  /* Set the color and style of the scrollbar buttons (arrows) */
  /* ::-webkit-scrollbar-button {
    display: none;
  } */
  .sidebar {
    margin-bottom: 20px;
  }
  .sidebar .sidebar-section {
    padding-bottom: 15px;
  }
  .sidebar .sidebar-section:not(:last-child) {
    border-bottom: 1px solid #333;
  }
  .sidebar .sidebar-lists .item {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
  }
  .sidebar .sidebar-lists .item,
  .sidebar .sidebar-filter {
    padding: 10px 30px;
  }

  @media (max-width: 768px) {
    .sidebar .sidebar-lists .item,
    .sidebar .sidebar-filter {
      padding: 10px 15px;
    }
  }
  .sidebar .sidebar-lists .item:hover {
    background-color: #333;
  }
  .sidebar .sidebar-filter {
    color: #555;
    font-size: 1em;
  }

  